<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Visitor Log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let visitorlog of visitorloglist">
    <ion-row>
      <ion-col style="margin: 10px;">
        <ion-label style="font-size: large;">
          {{visitorlog.name}}
        </ion-label>
      </ion-col>

      <ion-col style="text-align: end;">
        <ion-button (click)="exitVisitor(visitorlog)" ion-button fill="outline">Exit</ion-button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>